# Matplotlib

# Numpy

# List

In [8]:
my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list)

list_sum = sum(my_list)
list_max = max(my_list)
list_min = min(my_list)
my_list.append(11)
print(my_list)

my_list.remove(11)
print(my_list)

my_list.sort()
print(my_list)

my_list.reverse()
print(my_list)

my_list.sort(reverse=True)
print(my_list)


print(f"Sum of the list: {list_sum}")
print(f"Maximum value in the list: {list_max}")
print(f"Minimum value in the list: {list_min}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Sum of the list: 55
Maximum value in the list: 10
Minimum value in the list: 1

# Tuple

In [25]:
fruit_tuple = ("apple", "banana", "cherry", "date", "Strawberry")
print(fruit_tuple)

print(f"Second element: {fruit_tuple[1]}")
print(f"Last element: {fruit_tuple[-1]}")

my_list = list(fruit_tuple)
my_list[2]='orange'
print(f"Modified list: {my_list}")
fruit_tuple = tuple(my_list)
print(f"Modified tuple: {fruit_tuple}")

('apple', 'banana', 'cherry', 'date', 'Strawberry')
Second element: banana
Last element: Strawberry
Modified list: ['apple', 'banana', 'orange', 'date', 'Strawberry']
Modified tuple: ('apple', 'banana', 'orange', 'date', 'Strawberry')

# Set

In [33]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print("Set 1:", set1)
print("Set 2:", set2)

union_set = set1.union(set2)
print("Union of Set 1 and Set 2:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection of Set 1 and Set 2:", intersection_set)

difference_set = set1.difference(set2)
print("Difference of Set 1 and Set 2:", difference_set)

set1.add(6)
print("Set 1 after adding 6:", set1)

set1.remove(3)
print("Set 1 after removing 3:", set1)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of Set 1 and Set 2: {4, 5}
Difference of Set 1 and Set 2: {1, 2, 3}
Set 1 after adding 6: {1, 2, 3, 4, 5, 6}
Set 1 after removing 3: {1, 2, 4, 5, 6}

# Dictionary

In [38]:
student_marks = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88,
     "Eve": 88

}

print(student_marks)

student_marks["Bob"] = 90
print(student_marks)

del student_marks["Charlie"]
print(student_marks)

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Eve': 88}
{'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 95, 'Eve': 88}
{'Alice': 85, 'Bob': 90, 'David': 95, 'Eve': 88}